#navigation_bar {
  position: absolute;
  top: 0;
  background-color: rgb(233, 233, 233) !important;
  width: 100vw;
  padding: none;
  box-shadow: 2px 2px 20px rgba(10, 10, 10, 0.473);
}
#navigation_bar > div {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: none;
  align-items: center;
  text-align: center;

  height: 2.85em;
}

#navigation_bar button {
  transition: 0.25s;
  background-color: transparent !important;
  border-radius: 0;
  border-color: transparent !important;
}

#navigation_bar button:hover {
  background-color: rgba(255, 255, 255, 0.678) !important;
  border-color: transparent !important;
  color: rgb(63, 63, 63) !important;
  letter-spacing: 1.5px;
}

#filter {
  z-index: 3;
}
